#loadingPage{
    width:100%;
    height:100%;
    position:fixed;
    z-index: 1100;
    background-color:rgb(255, 255, 255);
    background-image: url(../images/loading.gif);
    background-position:center;
    background-repeat: no-repeat;
    background-size:100px;

}

.social{
    position:fixed;
    left:0;
    top:300px;
}

.social a{
    width:46px;
    height:32px;
    margin-left:-10px;
    display:block;
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    box-shadow: 1px 1px 2px #ccc;
}

.social a:hover{
    margin-left:-5px;
}

.social .facebook{
    background-color: #00529b;
    background-position: 5px -5px;
}
.social .twitter{
    background-color: #00b0e0;
    background-position: -41px -5px;
}
.social .instagram{
    background-color: #ff0063;
    background-position: -89px -5px;
}

#targetAovivo{
    width: 350px;
    height:390px;
    background-image: url("../images/pre-programa.png");
    background-size:100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 1000;
    transition:300ms;
    display: none;
}

#targetAovivo #show-aovivo{
    display: none;
}

#targetAovivo.aovivo{
    height:330px;
    background:none;
    text-align: center;
}

#targetAovivo.aovivo #show-aovivo{
    display: block;
}

#targetAovivo.aovivo button{
    width: 48%;
    box-shadow:0px 2px 3px #000;
}

#targetAovivo.aovivo iframe{
    box-shadow: 0px 2px 3px #000;
}

#targetAovivo.aovivo .status{
    width:100%;
    background-color:#004384;
    padding:5px;
    color:#fff;
}

#targetAovivo.aovivo .status span{
    width:12px;
    height:12px;
    margin-right:5px;
    background-color:red;
    display: inline-block;
    border-radius:50%;
    box-shadow: 0px 0px 5px red;
}


#targetAovivo #contador{
    text-align: center;
    color:#ffdc00;
    padding-top: 225px;
}

#targetAovivo #contador p{
    font-size:25px;
}

#targetAovivo #contador p, #targetAovivo #contador h3{
    text-shadow: 0px 1px 3px #000;
}

#targetAovivo #contador button{
    font-size: 15px !important;
}

#abrirTargetAovivo{
    position: fixed;
    display: none;
    bottom: 0;
    right:0;
    z-index: 1000;
    width:200px;
    padding:10px;
    background-color: #004384;
    color:#fff;
    text-align:center;
    border-radius:10px 10px 0 0;
    cursor:pointer;
}


#playerAovivo{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 99999;
    display: none;
}

#playerAovivo #player{
    width:650px;
    height:auto;
    padding:10px;
    margin:150px auto;
    background-color: #fff;
    position:relative;
}

#fecharAovivo{
    background-color: #ccc;
    border:none;
    padding:2px 20px;
    cursor: pointer;
}

#blur.blurAtivo{
    filter:blur(5px);
}

.swal-modal{
    font-family: sans-serif;
}

.swal-footer{
    text-align: center;
}

body{
    font-family: "Oswald", sans-serif;
    background-color:#f0f0f0;
}

.hamburger{
    width:30px;
    padding:3px;
    background-color: #fff;
    display:block;
    position:relative;
    margin-bottom:4px;
    border-radius:5px;
}

#topo-site, #topo-mobile{
    background-color:#004384;
    transition: 0.1s;
    position: fixed;
    z-index: 99;
    width: 100%;
}
#topo-site a, #topo-mobile a{color:#fff;}
#topo-site ul li:not(:last-of-type) a{border-right: solid 1px #fff}
#topo-site ul li a.ativo, #topo-site ul li a:hover{
    color:#fad902;
}
#topo-site .nav-link{padding: 0rem 0.5rem; margin-top:4px;}

#topo-site #links{
    float:right;
}

#logo{
    background-color:#fff;
    width: 100%;
    height:100px;
    position:absolute;
    top:-28px;
    border-radius:0 0 30px 30px;
    z-index:999;
}

.btn-amarelo, .btn-principal{
    text-transform: uppercase;
    border-radius: 12px;
    border:none;
}

.btn-amarelo{
    background: rgb(255,224,1);
    background: linear-gradient(180deg, rgba(255,224,1,1) 0%, rgba(202,152,1,1) 50%);
    color:#004384 !important;
    padding:2px 0px;
    font-weight: bold;
    min-width:120px;
    text-align:center;
}

.btn-principal{
    color:#fff !important;
    background-color:#004384;
    padding:5px 25px;
}

#btn-compra-top{
    margin: 0 10px;
}

#topo-site .social a:hover{
    text-decoration:none;
}

#topo-site .fa-stack, #topo-mobile .fa-stack { font-size: 1em !important; }
#topo-site i.fa-instagram, #topo-site i.fa-facebook { vertical-align: middle !important; color:#004384; }

#banner-home{
    background:#fad902;
    overflow: hidden;
    padding-top:80px;
}

#banner-home img{
    width:100%;
}

#banner-home #slide-1{
    background-image: url(../images/banner.PNG);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    min-height:100%;
    display: block;
}

#barra-ganhadores{
    background-color:#ccc;
    background-image: url(../images/bg-ganhadores.jpg);
    background-position:center;
    background-repeat: repeat-x;
    overflow: hidden;
    background-size: auto 100%;
    height:150px;
}

#barra-ganhadores .slide-ganhadores img{
    width: 100%;
    max-width: 100%;
    max-height: 150px;
    height: 150px;
}

.slick-initialized .slick-slide{
    position:relative;
}

#barra-ganhadores .slick-slide .cliente{
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 5px 15px;
    position: absolute;
    bottom: 0;
    color: #fff;
}

#barra-ganhadores .navegacao{
    text-align:center;
    position: absolute;
    top:0;
    right:25px;
    display: table;
    width:50px;
    height:150px;
    background-color: #fff;
    transform: skew(-20deg);
    color:#fff;
}

#barra-ganhadores .navegacao .row-nav{
    display: table-row;
}

#barra-ganhadores i{vertical-align: middle; font-size:25px;}

#barra-ganhadores .navegacao #prev, #barra-ganhadores .navegacao #next{
    min-width:50px;
    max-height:75px;
    display: table-cell;
    vertical-align: middle;
    cursor:pointer;
    background-color:#0a4e95;
    transition:200ms;
}

#barra-ganhadores .navegacao #prev:hover, #barra-ganhadores .navegacao #next:hover {
    background-color:#05407c;
}

#barra-ganhadores .navegacao img{
    width:15px;
}

#barra-ganhadores .aviso{
    background-color:#f90000;
    color:#fff;
    min-height: 100%;
}

#barra-ganhadores .aviso img{
    vertical-align: inherit;
    display: inline-block;
    width: 150px;
    float: left;
    margin-top:15px;
    margin-left: 25px;
    margin-right: 10px;
}

#barra-ganhadores .aviso span::after{
    content: "";
    width:60px;
    height:150px;
    background-color:#f90000;
    display: block;
    position: absolute;
    top:0;
    left: 185px;
    transform: skew(-20deg);
}

#barra-ganhadores .aviso span::before{
    content: "";
    width:60px;
    height:150px;
    background-color:#ccc;
    display: block;
    position: absolute;
    top:0;
    left: -26px;
    transform: skew(-20deg);
    box-shadow: -6px 0px 5px rgba(0,0,0,0.5);
}

#barra-ganhadores .aviso span{
    background-color:#ccc;
    width:215px;
    height:150px;
    padding-top:35px;
    display: inline-block;
    float:left;
}

#barra-ganhadores .aviso span.interno, #barra-ganhadores .aviso span.interno::before{
    background-color:#fad902;
}

#barra-ganhadores .aviso h2{
    margin:0;
    position:relative;
}

#barra-ganhadores .aviso p{
    font-size:12px;
    padding-top:12px;
    text-align: justify;
}

#barra-ganhadores .aviso::before{
    content:"";
    display: block;
    background-color:#f90000;
    position:absolute;
    left: 100%;
    width:1500px;
    height:150px;
    top:0;
}

.titulo-home{
    color:#004384;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    margin-bottom:30px;
}

.titulo-home::after{
    content: "";
    padding-top:10px;
    border-bottom: solid 1px;
    display:block;
    width:300px;
    margin:0 auto;
    color:#626262;
}

.titulo{
    text-transform: uppercase;
    color:#004384;
}

.videos-home a{
    color:#000;
}

.videos-home h3{
    padding:10px 0 0;
    font-size:1.3rem
}

.videos-home .destaque h3{
    font-size: 1.75rem;
}

.videos-home img{
    width:100%;
    border:solid #ccc 7px;
}

.videos-home p{
    word-wrap: break-word;
}

.videos-home p{
    color:#4f4f4f;
}

.datas-resultado{
    text-align-last:center;
    text-transform: uppercase;
}

.edicao{
    background-color: #004384;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
    font-size:20px;
    padding:10px 15px;
    border-radius: 10px;
    margin:35px 0px;
}

#resultado .nav-item{
    padding:0 5px;
    line-height: 16px;
}

#resultado .nav-link{
    background-color:#939393;
    color:#fff;
    padding:12px;
}

#resultado .nav-link.active{
    background-color: #004384;
}

#resultado .descricao-premio{
    color:#606060;
    font-size:10px;
    text-transform:uppercase;
}

.titulo-premio{
    width:100%;
    border:solid 2px #d3d3d3;
    padding:15px;
    float:left;
    margin:15px 0px;
    text-align:center;
    color:#4f4f4f;
}

.titulo-premio h4{margin-bottom:4px;}

.titulo-premio h4::after{
    content: "";
    border-bottom:solid 1px;
    display: block;
    width:200px;
    margin:4px auto auto;
}

.titulo-premio p{
    margin:0;
    text-transform:uppercase;
    font-size:15px;
}

table.ganhadores{
    width:100%;
    margin:0 auto 35px auto;
}

table.ganhadores thead{
    color:#4f4f4f;
    text-transform:uppercase;
    font-size:20px;
}

table.ganhadores tbody{
    color:#4f4f4f;
    text-transform:uppercase;
}

table.ganhadores tbody a{
    color:#fe0002;
}

table.ganhadores tbody tr:not(:last-child){
    border-bottom:dashed 1px;
}

table.ganhadores tbody tr:hover{
    background-color:rgb(194, 194, 194);
    color:#000;
}

.titulo-dezenas{
    text-align: center;
    color:#004384;
    font-size:25px;
}

.dezenas{
    width:80%;
    margin:30px auto;
}

.dezena{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(216,216,216,1) 80%);
    border-radius: 8px;
    border:solid #ccc 1px;
    padding:5px 7px;
    display:inline-block;
    text-align: center;
    margin:4px 2px;
    width: 35px;
    height: 35px;
}

.ordenar-dezenas{
    color:#fe0002;
}

#newsletter{
    background-color:#d2d2d2;
}

#newsletter h2{
    color:#9b9b9b;
    text-transform:uppercase;
    margin:0;
}

#barra-titulo-page{
    background-color:#fad902;
    color:#004384;
    position: relative;
    margin-top: 72px;
    display: inline-block;
    width: 100%;
}

#barra-titulo-page .icone{
    width:100px;
    text-align: center;
    margin:0 auto;
    position: absolute;
    left: calc(50% - 50px);
    bottom:-10px;
}

#barra-titulo-page .circulo{
    background-color:#fad902;
    padding:5px 6px;
    border:solid 3px #fff;
    border-radius:100%;
    color:#fff;
}

#barra-titulo-page .icone img{
    width: 22px;
}

#barra-titulo-page i{vertical-align: middle !important; font-size:25px;}

.bloco-extra{
    background-color:#004384;
    border-radius: 25px;
    text-align: center;
    color:#fff;
}

.bloco-extra h2{
    border-bottom:solid 2px;
    padding-bottom:10px;
    text-transform: uppercase;
    font-size:27px;
}

.bloco-extra table{
    width:100%;
}

.bloco-extra table th{
    text-transform: uppercase;
    font-size:20px;
}

.bloco-extra table td{
    padding:5px 0px;
}

.bloco-extra table th:first-child, .bloco-extra table td:first-child {
    border-right:solid 2px
}

.posts-ganhadores a{
    color:#000;

}

.posts-ganhadores img{
    padding:30px 0px 10px ;
}

.link-vermelho{
    color:#fe0002;
    text-transform: uppercase;
}

.buscar-pontos{
    margin-top:20px;
}

.buscar-pontos select{
    padding:10px 25px !important;
    font-size:20px;
    height:auto;
}

.buscar-pontos button{
    font-size:25px;
    border:none;
    padding:10px 25px;
    background-color:#fff;
    border-radius: 10px;
    text-transform: uppercase;
    cursor:pointer;
}

#lista-normas{
    list-style: none;
    text-align: center;
    display:block;
    min-height: 170px;
}

#lista-normas li{
    display: inline-block;
}

#lista-normas li a {
    width:100px;
    height:150px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0px 5px;
    transition:300ms;
    cursor:pointer;
}

#lista-normas li a.active{
    width:120px;
    height:170px;
}

#lista-normas li a#regulamento-tab{
    background-image: url("../images/icon-doc-regulamentos.png");
}

#lista-normas li a.active#regulamento-tab{
    background-image: url("../images/icon-doc-regulamentos-active.png");
}

#lista-normas li a#condicoes-gerais-tab{
    background-image: url("../images/icon-doc-condicoes-gerais.png");
}

#lista-normas li a.active#condicoes-gerais-tab{
    background-image: url("../images/icon-doc-condicoes-gerais-active.png");
}

#lista-normas li a#politica-de-privacidade-tab{
    background-image: url("../images/icon-doc-politica-privacidade.png");
}

#lista-normas li a.active#politica-de-privacidade-tab{
    background-image: url("../images/icon-doc-politica-privacidade-active.png");
}

#lista-normas li a#termos-de-uso-tab{
    background-image: url("../images/icon-doc-termos-uso.png");
}

#lista-normas li a.active#termos-de-uso-tab{
    background-image: url("../images/icon-doc-termos-uso-active.png");
}

footer{
    background-color:#004384;
    font-size:15px;
}

footer a{
    color:#fede01;
    text-decoration:underline;
}

footer a:hover{
    color:#fff;
}

footer .infor{
    margin-top:35px;
}

.logo-footer{
    margin:0;
}

#topo-mobile, #checkbox-mobile, #overlay-mobile-menu, #titulo-ganhadores-mobile, #mobile-menu{
    display: none;
}

#mobile-menu{
    color:#fff;
}


#topo-mobile{
    background-color:#004384;
    padding-top:10px;
    transition: 0.8s;
}

#topo-mobile #logo-mobile{
    background-color:#fff;
}

#topo-mobile.fixed-header #logo-mobile img{
    width: 100%;
    transition:300ms;
}

#topo-mobile.fixed-header,
#topo-site.fixed-header{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.publicidade img{
    max-width:500px;
    height:auto;
}

@media screen and (min-width: 992px){
    #barra-ganhadores .aviso img{
        display:block !important;
    }
}

@media screen and (max-width:1199px){
    #topo-site{
        display: none;
    }

    #topo-mobile{
        display: block;
    }

    #logo{
        position: relative;
    }

    #topo-mobile #logo-mobile img{
        width:155px;
        transition:300ms;
        -webkit-transition: 300ms;
    }

    #topo-mobile.fixed-header #logo-mobile img{
        width:100px;
    }

    .btn-amarelo{
        display: inline-block;
        text-align:center;
    }

    #topo-mobile .social{
        display:inline-block;
    }

    #mobile-menu{
        display: inline-block;
    }

    #menu-principal{
        position:fixed;
        background-color:#004384;
        height:100%;
        width:80%;
        margin-left: -100%;
        z-index:1000;
        top:0;
        left:0;
        transition:300ms;
    }

    #menu-principal ul.nav{
        display: block;
    }

    #menu-principal ul li a{
        border-right:none !important;
        border-bottom: solid 1px #1169bf;
        padding:20px !important;
    }

    #overlay-mobile-menu{
        position:fixed;
        background-color:rgba(0,0,0,0.9);
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index:1000;
        transition:300ms;
    }

    #checkbox-mobile:checked ~ #menu-principal{
        margin-left: 0;
    }

    #checkbox-mobile:checked ~ #overlay-mobile-menu{
        display: block
    }

    #banner-home{
        display: inline-block;
        width:100%;
        margin-top:80px;
    }

    #banner-home img{
        width:100%;
        height: 100%;
    }

    #barra-ganhadores{
        height: auto;
    }

    #barra-ganhadores .navegacao{
        transform: skew(0deg);
        right:0;
    }

    #barra-ganhadores .aviso{
        height:auto;
    }

    #barra-ganhadores .aviso::before{
        content: none;
    }

    #barra-ganhadores .aviso img{
        display:none;
    }

    #barra-ganhadores .aviso p{
        font-size:10px;
        padding:10px;
        margin:0;
    }

    #barra-ganhadores .aviso span{
        display: none;
    }

    #titulo-ganhadores-mobile{
        transform: rotate(20deg);
        background-color:red;
    }

    .btn-w-100{
        width:100%;
        margin-top:5px;
    }

    .descricao-premio{
        display:none;
    }

    #resultado .nav-item{
        line-height: 15px;
        margin-bottom: 10px;
    }

    table.ganhadores{
        width: 100%;
    }

    table.ganhadores tbody tr:not(:last-child){
        border-bottom:dashed 1px;
    }

    table.ganhadores tbody tr:hover{
        background-color:rgb(194, 194, 194);
        color:#000;
    }

    #newsletter{
        text-align: center
    }

    #barra-titulo-page{
        margin-top:120px;
    }

    #edicoes-resultado{
        margin-top:15px;
    }
}

@media screen and (max-width:768px){
    .publicidade img{
        max-width:100%;
        height:auto;
    }

    #barra-ganhadores, #barra-ganhadores .aviso{height:auto;}

    table.ganhadores{font-size:12px;}

    #pac-input{
        width:100% !important;
    }
}
